# environment
.DS_Store
.vscode/

# node / build
out/
node_modules/
mbed_settings.*
BUILD/
.mbed
mbed-os.lib
mbed-os/
.arduino15/
NDefLib/
X_NUCLEO_NFC02A1/
ST_INTERFACES/
GettingStarted.html
Makefile
mbed_config.h
extensions/Dockerfile
.iotz.mxchip.tweak
package-lock.json
iotz-mbed-deps/
test_baseline
test/arduino_create/iotz.json
sampleApplication.ino
