out/
node_modules/
.DS_Store
.vscode/
mbed_settings.*
BUILD/
.mbed
mbed-os.lib
mbed-os/
mbed/
.arduino15/
NDefLib/
X_NUCLEO_NFC02A1/
ST_INTERFACES/
GettingStarted.html
iotc_base_container/exported.tar