# environment
.DS_Store
.vscode/

# node / build / test
out/
node_modules/
mbed_settings.*
BUILD/
.mbed
mbed-os.lib
mbed-os/
NDefLib/
X_NUCLEO_NFC02A1/
ST_INTERFACES/
GettingStarted.html
Makefile
mbed_config.h
.iotz.mxchip.tweak
package-lock.json
iotz-mbed-deps/
test_baseline
test/arduino_create/iotz.json
sampleApplication.ino

# runtime
extensions/raspberry.Dockerfile
extensions/default.Dockerfile
extensions/arduino.Dockerfile
extensions/mbed.Dockerfile
extensions/Dockerfile
